.Task{
    margin: 30px;
    color : white;
}
.Task_Table__Btn{
    margin: 30px;
}

.Task_Table__table{
    table-layout: auto;
}
.Task_Table__header{
    background-color: var(--task_table_header_color);
}
.Task_Title_duedate__value{
    color:var(--duedate_color);
}
/* Summary */
.Summary{
    margin: 30px;
    color : white;
}
.Summary_statistics{
    margin-top:var(--summary_margin_top);
    display: flex;
}
.today_history{
    margin-top:var( --today_history_margin_top);
}

.Task_Title{
    color:var(--dashboard_tasktable_title_color);
    font-weight: bold;
}
.Summary_Title{
    color:var(--dashboard_tasksummary_title_color);
    font-weight: bold;
}
.Task_Selector{
margin-top:var(--task_selector_margin_top);
}

.Task_Table__summary{
    border-top: 2px solid ;
    border-top-color: var(--task_sum_border_color);
    color:var(--task_sum_color);
}

.Summary_statistics__ratio{
    margin-top:var(--summary_margin_top);
}

.Summary_statistics__amount{
    margin-top:var(--summary_margin_top);
}