:root {
    --yellow: #fae100;
    --background_color : #1f2124; 
    --status_color :#357EC7;
    --titlecolor: whitesmoke;
    --info_indent: 13px;
    --main_frame_top_margin:40px;
    --component-Status_top_margin:30px;
    --component_Title_top_margin:10px;

    /* Navigation */
    --navigation_margin_top:30px;
    
    /* Home Table*/
    --home_table_margin_top:12px;
    --home_table_distance:30px;

    /* dashboard table */
    --dashboard_table_header_color :#2B65EC ;/*MediumAquaMarine (W3C)*/
    --dashboard_table_title_color:#9AFEFF;

    /* schedule table  */
    --schedule_table_header_color:#2B65EC; /*	MediumTurquoise (W3C)*/
    --schedule_table_header_daylists_color: #737CA1; /* PaleTurquoise (W3C)*/
    --schedule_table_title_color:#9AFEFF;

    /* schedule statistics  */
    --schedule_statistics_margin_top:30px;
    --schedule_statistics_title_color:#9AFEFF;


    /* task table */
    --task_table_header_color:#2B65EC;

    --task_sum_color:#F8B88B;
    --task_sum_border_color:#7D0552;
    --duedate_color:#A70D2A;
    --task_selector_margin_top:20px;
    --dashboard_tasktable_title_color:#9AFEFF;
    
    /* task summary*/
    --summary_margin_top:20px;
    --today_history_margin_top:20px;
    --dashboard_tasksummary_title_color:#9AFEFF;


    /* progress bar */
    --progress_L5: #0E6251;
    --progress_L4: #148F77;
    --progress_L3: #1ABC9C;
    --progress_L2: #76D7C4;
    --progress_L1: #D1F2EB;

    /* main chart*/
    --home_chart_margin_top:12px;



    

}   
